.gitignore
cloudscript.pem
src/package.json
.elasticbeanstalk/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
node_modules/
src/node_modules/
npm-debug.log
src/npm-debug.log