<div class='pure-g'>
  <div class='pure-u-1-1 t-a-center'>
    <h1>Welcome to CloudScript!</h1>
  </div>
</div>
<div class='pure-g'>
  <div class='pure-u-1-2 t-a-center'>
    <a href="#/login">Login</a>
  </div>
  <div class='pure-u-1-2 t-a-center'>
    <a href="#/signup">Sign Up</a>
  </div>
</div>

<!-- <form name="login" ng-submit="submit(credentials)">
  <label>Email:<input type="text" ng-model="credentials.username"></label><br>
  <label>Password:<input type="password" ng-model="credentials.password"></label><br>
  <input type="submit" value="Submit">
</form>
 -->
<!-- 
 <div id="content">
	<div id="inner">
		<h1 id="signinLogo"><a href="/"></a></h1>
		
		<div id="signinBlock">
			<span class="formContainer">			    
 				<form id="signInForm" name="login" ng-submit="submit(credentials)">
					<input class="fillin validated " autofocus="true" name="email" value="" title="Email" type="email" required="required" placeholder="Email" spellcheck="false" ng-model="credentials.username">
					
						<input class="fillin validated " name="password" title="Password" type="password" required="required" placeholder="Password" ng-model="credentials.password">
						<span class="message"></span>

					<div class="buttonWrap">
						<input type="hidden" name="persist" value="true">
						<input type="hidden" name="returnTo" value="/">

						<input class="button" type="submit" alt="Sign in!" value="Login">
					</div>
				</form>	
			</span>
		</div>
	</div>
</div>
 -->