<div id="header" class='pure-g'>
  <div class="pure-u-1">
    <div id="title">
      <h1>CloudScript</h1>
    </div>
  </div>
  <div class="pure-u-1">
    <div id="navbar" class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="#">My Info</a></li>
            <li class="pure-menu-selected"><a href="#">My Doctors</a></li>
            <li><a href="#">My Prescriptions</a></li>
        </ul>
    </div>
  </div>
</div>

<div id="content" class='pure-g'>
  <div id="left" class="pure-u-4-24 full-length">
  </div>

  <div id="mid" class="pure-u-10-24 full-length">
    <chat></chat>
    <rx></rx>
  </div>

  <div id="right" class="pure-u-10-24 full-length">
    <newscript ng-show="newScript.newPrescription"></newscript>
  </div>
</div>