<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CloudScript</title>

  <!-- minified stylesheets -->
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <!-- minified javascripts -->
  <script src="/javascripts/angular.min.js" type="text/javascript"></script>
  <script src="/javascripts/vendor.js" type="text/javascript"></script>
  <script src="/javascripts/app.js" type="text/javascript"></script>
  <script src="/javascripts/script.js" type="text/javascript"></script>


</head>

<div id="header" class='pure-g'>
  <div class="pure-u-1">
    <div id="title">
      <h1>CloudScript</h1>
    </div>
  </div>
</div>
  <body ng-app="CloudScript">
    <div ng-view></div>
  </body>
</html>
