<html>
  <head>
    <title>Example webrtc.io</title>

  <!-- minified stylesheets -->
  <link rel="stylesheet" href="/dist/stylesheets/styles.css">

  <!-- minified javascripts -->
  <script src="/dist/javascripts/angular.min.js" type="text/javascript"></script>
  <script src="/dist/javascripts/vendor.js" type="text/javascript"></script>
  <script src="/dist/javascripts/app.js" type="text/javascript"></script>
  <script src="/dist/javascripts/script.js" type="text/javascript"></script>

  </head>
  <body onload="init()">
    <div id="videos">
      <video id="you" class="flip" autoplay width="263" height="200" style="position: absolute; left: 0px; bottom: 0px;"></video>
    </div>
    <div id="chatbox">
      <div id="hideShowMessages" class="button">toggle chat</div>
      <div id="messages">
      </div>
      <input id="chatinput" type="text" placeholder="Message:"/>
    </div>

    <div class="buttonBox">
      <div id="fullscreen" class="button"><button>Enter Full Screen</button></div>
      <div id="newRoom" class="button"><button>Create A New Room</button></div>
    </div>

  </body>
</html>