<html>
  <head>
    <title>Example webrtc.io</title>


  <script src="/assets/video/webrtc.io.js"></script>
  <script src="/assets/video/webrtcScript.js"></script>

  </head>
  <body onload="init()">
    <div id="videos">
      <video id="you" class="flip" autoplay width="263" height="200" style="position: absolute; left: 0px; bottom: 0px;"></video>
    </div>
    <div id="chatbox">
      <div id="hideShowMessages" class="button">toggle chat</div>
      <div id="messages">
      </div>
      <input id="chatinput" type="text" placeholder="Message:"/>
    </div>

    <div class="buttonBox">
      <div id="fullscreen" class="button"><button>Enter Full Screen</button></div>
      <div id="newRoom" class="button"><button>Create A New Room</button></div>
    </div>

  </body>
</html>