html {
  /*background-color: #bbeeff;*/
  background-image: url("/img/clouds_background.jpg");

  background-attachment: fixed;
  background-position: 60% 60%;
}

#header {

  position: relative;
  text-align: center;

}

#title {
}

#title h1 {
  color: white;
  font-size: 85px;
  margin: 10px;
  padding: 10px;
}

#content {
  height: 100%;
  background-color: white;
}

.padding {
  padding: 10px;
}

#navbar {
  background-color: transparent;
  text-align: center;
}

#navbar a {
  background-color: transparent;
  color: black;
  border-radius: 15px;
  background-color: white;
  opacity: 0.7;
  border: 1px solid rgb(200,200,200);
}

#navbar a:hover {
  /*background-color: transparent;*/
  background-color: rgb(240,240,240);
}

#navbar .pure-menu-selected a {
  /*background-color: transparent;*/
  background-color: rgb(200,200,200);
  color: white;
}

#mid {
  background-color: rgb(200,200,200);;
}

#newrxform {

}

.formtext {
  display: block;
}

.simple-form label {
  max-width: 80%;
  display: block;
  margin: 0px 0px 18px 0px;
}

.formbutton {
  padding: 6px 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 0px;
  background-color: white;
  color: black;
  border: 1px solid rgb(200,200,200);
}

.formbutton:hover {
  background-color: rgb(220,220,220);
}

#newscript {
}